

/* makes grey box big */
/* .MuiGridListTileBar-rootSubtitle{
  height: 300px !important;
} */
/* text in grey box */
/* .MuiGridListTileBar-title{
  white-space: normal !important;
} */

#header-logo{
  margin-left: 20px
}

/* 404 page  */
body.four-o-four-page {
  content: "";
  background: url("https://i.imgur.com/O7Zfb6P.png") no-repeat fixed center;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;  
}

/* Header */
.meals-search-bar{
  margin-top:5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


