

/* makes grey box big */
/* .MuiGridListTileBar-rootSubtitle{
  height: 300px !important;
} */
/* text in grey box */
/* .MuiGridListTileBar-title{
  white-space: normal !important;
} */
/* Meal show page  */
#meal-card-div{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

/* User page  */
/* user image  */
.user-img-container{
  margin-right: 70%;
  padding-bottom: 1%;
  padding-top: 2%;
}
.user-img{
  width: 150px;
  border-radius: 50%;
}

/* user name */
 #user-name{
  font-family: Snell Roundhand, cursive;
  margin-top: 1%;
}

/* Bon Apptit */
#header-logo{
  margin-left: 100px;
  margin-right: 40%;
  font-family: Snell Roundhand, cursive;
}

/* 404 page  */
body.four-o-four-page {
  content: "";
  background: url("https://i.imgur.com/O7Zfb6P.png") no-repeat fixed center;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;  
}

.radio-grid{
  position: relative;
  margin-left: 12%;
  padding-right: 150px;
}
/* Header */
.meals-search-bar{
  margin-top:5%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


